.footer__wrapper {
  background-color: #383A3F; //323940

  .nav__wrapper {
    text-align: center;
  }

  .nav__link {
    &:hover, &.hovered {
      color: lighten(#6E7783, 50%);
      background-color: transparent;
    }
  }

  .nav--home {
    display: block;
    margin: 0 auto;
    line-height: 28px;
    padding: 18px 0 4px 0;
    width: 48px;

    transition: 250ms;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
