.footer__wrapper {
  background-color: #383A3F; //323940

  .nav__wrapper {
    text-align: center;
  }

  .nav__link {
    &:hover, &.hovered {
      color: lighten(#6E7783, 50%);
      background-color: transparent;
    }
  }
}
