.header__wrapper {
  background-color: $brand-color;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

  &.header--landing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent; // #fdedc7; // doordash
  }
}

.nav__wrapper {
  @include clearfix();
  margin: 0 auto;
  max-width: $content-width;
  padding: 11px 12px;
}

.nav {
  &.nav--left {
    float: left;
    // width: 100%;
    // max-width: 500px;
  }

  &.nav--right {
    float: right;
  }
}

.nav__logo {
  // background-color: $brand-color;
}

.nav__link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 42px;

  font-size: 15px;
  font-weight: 500;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  @include media("<=tablet") {
    margin-right: 20px;
  }
  @include media(">tablet") {
    margin-right: 28px;
  }

  &:link, &:visited {
    color: white;
  }

  &:after {
    position: absolute;
    bottom: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    content: '';
  }

  &:last-child {
    margin-right: 0;
  }

  &.nav--home {
    line-height: 1;
    font-size: 0;

    &:after {
      display: none;
    }
  }
}

.nav__search {
  display: inline-block;
  vertical-align: middle;
  // width: 80%;

  input {
    margin-bottom: 0;
    // width: 100%;
  }
}
