.header__wrapper {
  position: relative;
  z-index: 10;
  border-bottom: 1px #ddd solid;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.09);

  @include media(">tablet") {
    background-color: #fff;
    border-top: 2px solid $brand-color;
  }
}

.header--landing {
  @include media(">tablet") {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
  }

  .nav__search {
    &:after {
      filter: invert(100%);
    }
    input {
      color: white;
    }
  }

  .nav__link {
    &:link, &:visited {
      color: lighten(#6E7783, 20%);
    }
    &:hover, &.hovered {
      color: lighten(#6E7783, 50%);
      background-color: transparent;
    }
  }
}

.nav__wrapper {
  @include clearfix();
  margin: 0 auto;
  max-width: $content-large;
  padding: 0 12px;

  &:not(.nav--footer) {
    @include media("<=tablet") {
      background: white;
      border-top: 2px solid $brand-color;
    }
  }
}

.nav {
  &.nav--left {
    float: left;
    // width: 100%;
    // max-width: 500px;
  }

  &.nav--right {
    float: right;
  }
}

.nav__logo {
  // background-color: $brand-color;
  vertical-align: middle;
}

.nav__link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 60px;

  font-size: 15px;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
  user-select: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  transition: color 250ms, background-color 250ms;

  @include media("<=tablet") {
    padding: 0 10px;
  }
  @include media(">tablet") {
    padding: 0 16px;
  }

  &:link, &:visited {
    color: #6E7783;
  }

  &:hover, &.hovered {
    background-color: #f9f9f9;
  }

  &.nav--home {
    margin-right: 12px;

    &:hover {
      background-color: transparent;
    }
  }
  &.nav--search {
    @include media(">tablet") {
      display: none;
    }
  }

  img {
    vertical-align: middle;
    pointer-events: none;
  }
}

.nav__search {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  @include media("<=tablet") {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    z-index: -1;

    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.09);
    border-bottom: 1px #ddd solid;
    background-color: white;
    padding: 9px 12px;

    opacity: 0.75;
    // visibility: hidden;
    transition: 250ms;
    transform: translateY(-105%);
  }
  @include media(">tablet") {
    width: 320px;
    padding: 9px 0;
  }

  input {
    margin-bottom: 0;
    border: none;
    background: transparent;

    font-size: 15px;
    font-weight: 500;
    box-shadow: none;

    @include media("<=tablet") {
      padding: 11px;
    }
    @include media(">tablet") {
      padding: 11px 11px 11px 30px;
    }
  }

  &.nav__search--open {
    opacity: 1;
    // visibility: visible;
    transform: translateY(0);
  }

  &:after {
    @include media(">tablet") {
      position: absolute;
      top: 20px;
      left: 4px;

      background: url('/static/img/icons/action/ic_search_24px.svg') no-repeat;
      background-size: cover;
      height: 20px;
      width: 20px;

      opacity: 0.5;
      content: '';
    }
  }
}
