.landing__hero {
  display: flex;
  position: relative;
  align-items: center;

  // Photo Credit: https://www.flickr.com/photos/quinnanya/3570356861/
  background: linear-gradient(to top, rgba(#000, 0.1), rgba(#000, 0)),
              linear-gradient(to top, rgba(#293757, 0.85), rgba(#293757, 0.85)),
              url('/static/img/student.jpg');
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  @include media("<=tablet") {
    height: 440px;
    padding: 80px 0;
  }
  @include media(">tablet") {
    margin-top: -64px;
    height: 580px;
    padding: 88px 0;
  }

  h1 {
    margin: 0 0 20px 0;
    color: white;
    font-weight: 700;

    @include media("<=tablet") {
      font-size: 40px;
      line-height: 44px;
    }
    @include media(">tablet") {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
      font-size: 58px;
      line-height: 60px;
    }
  }

  p {
    margin: 0 0 24px 0;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    @include media("<=tablet") {
      line-height: 22px;
      font-size: 16px;
    }
    @include media(">tablet") {
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
      line-height: 24px;
      font-size: 18px;
    }
  }

  .landing__overlay {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: -100%;

    background-color: $brand-color;

    // width: 0;
    // height: 0;
    // border-style: solid;
    // border-width: 48px 48px 0 0;
    // border-color: $brand-color transparent transparent transparent;

    transform: skewX(-45deg) translateX(-100%);
    animation: slide-right-skewed 750ms cubic-bezier(.2, 1, .2, 1) 250ms forwards;

    @include media("<=tablet") {
      // border-width: 36px 36px 0 0;
      // width: 36px;
    }
    @include media(">tablet") {
      // border-width: 48px 48px 0 0;
      // width: 20px;
    }
  }

  .landing__content {
    position: relative;
    margin: 0 auto;
    flex-basis: $content-width;

    padding: 0 12px;
    opacity: 0;
    text-align: center;

    transform: translateY(100%);
    animation: slide-up-fade 1s cubic-bezier(.2, 1, .2, 1) 250ms forwards; //600ms delay

    @include media(">tablet") {
      padding-top: 48px;
    }
  }
}

.landing__features {
  $landing-feature-border-color: #fafafa;

  overflow: hidden;

  .landing__feature {
    @include media(">tablet") {
      float: left;
      width: 50%;

      border-bottom: 1px $landing-feature-border-color solid;
      padding: 36px;
    }

    &:nth-child(-n+2) {
      @include media(">tablet") {
        border-top: 1px $landing-feature-border-color solid;
      }
    }

    &:nth-child(2n+1) {
      @include media(">tablet") {
        border-right: 1px $landing-feature-border-color solid;
      }
    }

    &:nth-child(2n) {
      @include media(">tablet") {
        margin-right: 0;
      }
    }
  }

  .landing__feature-icon {
    margin-bottom: 12px;
    height: 64px;
    width: 64px;

    background-color: lighten(#ff5f2e, 15%);
    border-radius: 32px;
    border: 1px $brand-color solid;

    text-align: center;
    line-height: 68px;
    font-size: 0;

    img {
      filter: invert(100%);
      vertical-align: middle;
    }
  }
}

.landing__hiw {
  margin-bottom: 28px;
  text-align: center;

  p {
    margin: 0 auto;
    max-width: 760px;
  }
}

.landing__cta {
  padding: 48px 0;
  text-align: center;
}

@keyframes slide-right-skewed {
  to {
    transform: skewX(-45deg) translateX(0);
  }
}

@keyframes slide-up-fade {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
