.landing__wrapper {
  display: flex;
  position: relative;
  align-items: center;

  // Photo Credit: https://www.flickr.com/photos/quinnanya/3570356861/
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
              linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
              url('/static/img/student.jpg');
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  @include media("<=tablet") {
    height: 400px;
    padding: 100px 0;
  }
  @include media(">tablet") {
    height: 600px;
    padding: 88px 0;
  }

  h1 {
    margin: 0 0 20px 0;
    color: white;
    font-weight: 700;

    @include media("<=tablet") {
      font-size: 40px;
      line-height: 44px;
    }
    @include media(">tablet") {
      max-width: 600px;
      font-size: 58px;
      line-height: 62px;
    }
  }

  p {
    margin: 0 0 24px 0;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    @include media("<=tablet") {
      line-height: 22px;
      font-size: 16px;
    }
    @include media(">tablet") {
      max-width: 500px;
      line-height: 24px;
      font-size: 18px;
    }
  }

  .landing__overlay {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: -100%;

    background-color: $brand-color;

    // width: 0;
    // height: 0;
    // border-style: solid;
    // border-width: 48px 48px 0 0;
    // border-color: $brand-color transparent transparent transparent;

    transform: skewX(-45deg) translateX(-100%);
    animation: slide-right-skewed 750ms cubic-bezier(.2, 1, .2, 1) 250ms forwards;

    @include media("<=tablet") {
      // border-width: 36px 36px 0 0;
      // width: 36px;
    }
    @include media(">tablet") {
      // border-width: 48px 48px 0 0;
      // width: 20px;
    }
  }

  .landing__content {
    position: relative;
    margin: 0 auto;
    flex-basis: $content-width;
    padding: 24px 12px 0 12px;

    opacity: 0;
    transform: translateY(100%);
    animation: slide-up-fade 1s cubic-bezier(.2, 1, .2, 1) 600ms forwards;

    @include media("<=tablet") {
      padding-top: 36px;
      text-align: center;
    }
  }
}

.landing__features {
  overflow: hidden;

  .landing__feature {
    @include media(">tablet") {
      float: left;
      margin-bottom: 4%;
      margin-right: 4%;
      width: 48%;
    }

    &:nth-child(2n) {
      @include media(">tablet") {
        margin-right: 0;
      }
    }
  }
}

@keyframes slide-right-skewed {
  to {
    transform: skewX(-45deg) translateX(0);
  }
}

@keyframes slide-up-fade {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
