nav {
  background-color: rgb(250, 105, 0);
  padding: 10px 0;
}

.nav__wrapper {
  @include clearfix();
  margin: 0 auto;
  max-width: 960px;
}

.nav {
  &.nav--left {
    float: left;
  }

  &.nav--right {
    float: right;
  }
}

.nav__logo {

}

.nav__link {
  margin: 0 6px;

  color: white;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
