@import "vendor/normalize";
@import "node_modules/include-media/dist/include-media";

@import "mixins/mixins";
@import "base/base";

@import "components/header";
@import "components/footer";
@import "components/landing";
@import "components/about";

@import "utilities";

.page__wrapper {
  border-bottom: 1px #eee solid;

  &:last-child {
    border-bottom: none;
  }

  &.page--light {
    background-color: #fff;
  }
  // &.page--light .content__secondary {
  //   border-left: 1px #eee solid;
  //   padding-left: 3%;
  // }

  &.page--min-height {
    min-height: 100vh;
  }
}

.content__wrapper {
  margin: 0 auto;
  max-width: $content-width;
  // background-color: #e5e5dc;

  &.content--small {
    max-width: 440px;
  }
}

.content__section {
  @include clearfix();
  padding: 36px 12px;
  // min-height: 320px;

  .content--additional-info {
    p {
      color: #8b8687;
    }
    p.link {
      color: #0080ff;
    }

    @include media("<=tablet") {
      display: none;
    }
  }
}

.content__main {
  float: left;
  margin-right: 3%;
  width: 70%;

  @include media("<=tablet") {
    margin-right: 0;
    width: 100%;
  }

  &:last-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.content__secondary {
  float: left;
  width: 27%;

  @include media("<=tablet") {
    width: 100%;
  }

  & + .content__main {
    float: left;
    margin-right: 0;
    margin-left: 3%;
  }
}

.content__full {
  @include clearfix();
  width: 100%;
}
.content__half {
  float: left;

  @include media("<=tablet") {
    width: 100%;
  }
  @include media(">tablet") {
    width: 50%;
  }

  .content__half-left {
    max-width: 500px;

    @include media("<=tablet") {
      margin: 0 auto;
    }
    @include media(">tablet") {
      padding-right: 4%;
      margin-left: auto;
    }
  }
}

.paragraph__section {
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.spinner__wrapper {
  text-align: center;
  padding: 56px 0;
}

.pull-right {
  @include clearfix();
  float: right;
}

.pull-left {
  @include clearfix();
  float: left;
}
