@import "vendor/normalize";
@import "node_modules/include-media/dist/include-media";

@import "mixins/mixins";
@import "base/base";

@import "components/header";
@import "components/footer";
@import "components/landing";

.page__wrapper {
  // padding-top: 78px;
  //
  // &.page--landing {
  //   padding-top: 0;
  // }
}

.content__wrapper {
  margin: 0 auto;
  max-width: $content-width;
  // background-color: #e5e5dc;

  &.content--small {
    max-width: 440px;
  }
}

.content__section {
  overflow: hidden;
  padding: 36px 12px;

  .content--additional-info {
    color: #a7a7a2;

    @include media("<=tablet") {
      display: none;
    }
  }
}

.content__main {
  float: left;
  margin-right: 3%;
  width: 70%;

  @include media("<=tablet") {
    margin-right: 0;
    width: 100%;
  }
}

.content__secondary {
  float: left;
  width: 27%;
}

.pull-right {
  @include clearfix();
  float: right;
}

.pull-left {
  @include clearfix();
  float: left;
}

.u-mg-t-0 {
  margin-top: 0;
}
