@import "vendor/normalize";
@import "node_modules/include-media/dist/include-media";

@import "mixins/mixins";
@import "base/base";

@import "components/header";

.page__wrapper {
  padding-top: 78px;

  &.page--landing {
    padding-top: 0;
  }
}

.content__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  // background-color: #e5e5dc;

  &.content--small {
    max-width: 440px;
  }
}

.content__section {
  padding: 24px 12px;
}

.landing__wrapper {
  display: flex;
  position: relative;
  align-items: center;

  // Photo Credit: https://www.flickr.com/photos/quinnanya/3570356861/
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
              linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
              url('/static/img/student.jpg');
  background-position: center center;
  background-size: cover;
  padding: 88px 0;
  overflow: hidden;

  @include media("<=tablet") {
    height: 500px;
  }
  @include media(">tablet") {
    height: 600px;
  }

  h1 {
    margin: 0 0 10px 0;
    max-width: 500px;
    color: white;

    @include media("<=tablet") {
      font-size: 44px;
      line-height: 44px;
    }
    @include media(">tablet") {
      font-size: 64px;
      line-height: 64px;
    }
  }

  p {
    margin: 0 0 24px 0;
    max-width: 500px;
    font-weight: 300;
    color: white;

    @include media("<=tablet") {
      line-height: 22px;
      font-size: 16px;
    }
    @include media(">tablet") {
      line-height: 24px;
      font-size: 18px;
    }
  }

  .landing__overlay {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: -100%;

    background-color: $brand-color;

    transform: skewX(-45deg);
  }

  .landing__content {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    flex-basis: 1200px;
    padding: 0 12px;
  }
}
