@import "vendor/normalize";

@import "mixins/mixins";
@import "base/base";

@import "components/header";

.page__wrapper {
  padding-top: 78px;

  &.page--landing {
    padding-top: 0;
  }
}

.content__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  // background-color: #e5e5dc;
}

.content__section {
  padding: 24px 12px;
}

.landing__wrapper {
  display: flex;
  position: relative;
  align-items: center;

  // Photo Credit: https://www.flickr.com/photos/quinnanya/3570356861/
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
              linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
              url('/static/img/student.jpg');
  background-position: center center;
  background-size: cover;
  padding: 88px 0;

  height: 600px;
  overflow: hidden;

  color: white;
  // text-align: center;

  h1 {
    margin: 0 0 10px 0;
    max-width: 500px;
    line-height: 64px;
    font-size: 64px;;
  }

  p {
    margin: 0 0 24px 0;
    max-width: 500px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 300;
  }

  .landing__overlay {
    position: absolute;
    top: -50%;
    right: 0;
    left: 0;

    height: 150%;
    background-color: $brand-color;

    transform: translateX(-35%) rotate(-45deg);
  }

  .landing__content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    flex-basis: 1200px;
  }
}
