@import "vendor/normalize";
@import "node_modules/include-media/dist/include-media";

@import "mixins/mixins";
@import "base/base";

@import "components/header";
@import "components/footer";
@import "components/landing";
@import "components/about";

@import "utilities";

.page__wrapper {
  // padding-top: 78px;
  //
  // &.page--landing {
  //   padding-top: 0;
  // }

  &.page--light {
    background-color: #fff;
    border-top: 1px #eee solid;
  }

  &.page--min-height {
    min-height: 100vh;
  }
}

.content__wrapper {
  margin: 0 auto;
  max-width: $content-width;
  // background-color: #e5e5dc;

  &.content--small {
    max-width: 440px;
  }
}

.content__section {
  @include clearfix();
  padding: 36px 12px;

  .content--additional-info {
    color: #8b8687;

    @include media("<=tablet") {
      display: none;
    }
  }
}

.content__main {
  float: left;
  margin-right: 3%;
  width: 70%;

  @include media("<=tablet") {
    margin-right: 0;
    width: 100%;
  }

  &:last-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.content__secondary {
  float: left;
  width: 27%;

  & + .content__main {
    float: left;
    margin-right: 0;
    margin-left: 3%;
  }
}

.spinner__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding-bottom: 20px;
}

.pull-right {
  @include clearfix();
  float: right;
}

.pull-left {
  @include clearfix();
  float: left;
}
