.u-cf {
  @include clearfix();
}

.u-pos-rel {
  position: relative;
}
.u-pos-abs {
  position: absolute;
}
.u-trbl-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-div-140 {
  height: 140px;
}
.u-div-180 {
  height: 180px;
}
.u-div-320 {
  height: 320px;
}

.u-bg-img {
  height: 100%;
  background-position: center 500px;
  background-size: cover;
  filter: grayscale(100%);
}

.u-bg-c-brand {
  background-color: $brand-color;
}
.u-bg-c-ikb {
  background-color: $ikb;
}

.u-br-4 {
  border-radius: 4px;
}

.u-c-white {
  color: white;
}

.u-pd-b-24 {
  padding-bottom: 24px;
}

.u-ta-c {
  text-align: center;
}
.u-ta-l {
  text-align: left;
}

.u-cur-p {
  cursor: pointer;
}

// Margins
@each $mg in (0, 4, 8, 12, 24) {
  .u-mg-t-#{$mg} {
    margin-top: #{$mg}px;
  }
  .u-mg-b-#{$mg} {
    margin-bottom: #{$mg}px;
  }
}
@each $mg in (100, 120, 140, 180) {
  .u-mg-t-#{$mg}-n {
    margin-top: -#{$mg}px;
  }
}
