.u-cf {
  @include clearfix();
}
.u-fl-r {
  @include clearfix();
  float: right;
}
.u-fl-l {
  @include clearfix();
  float: left;
}

.u-pos-rel {
  position: relative;
}
.u-pos-abs {
  position: absolute;
}

.u-div-140 {
  height: 140px;
}
.u-div-180 {
  height: 180px;
}
.u-div-240 {
  height: 240px;
}
.u-div-320 {
  height: 320px;
}

.u-bg-img {
  height: 100%;
  background-position: center 500px;
  background-size: cover;
  filter: grayscale(100%);
}

.u-br-4 {
  border-radius: 4px;
}

.u-c-white {
  color: white;
}
.u-c-brand {
  color: $brand-color;
}
.u-c-facebook {
  color: #3b5998;
}
.u-c-twitter {
  color: #1b95e0;
}

.u-pd-b-24 {
  padding-bottom: 24px;
}

.u-ta-c {
  text-align: center;
}
.u-ta-l {
  text-align: left;
}

.u-cur-p {
  cursor: pointer;
}

// Margins
@each $mg in (0, 4, 8, 12, 16, 24) {
  .u-mg-t-#{$mg} {
    margin-top: #{$mg}px;
  }
  .u-mg-b-#{$mg} {
    margin-bottom: #{$mg}px;
  }
  .u-mg-r-#{$mg} {
    margin-right: #{$mg}px;
  }
  .u-mg-l-#{$mg} {
    margin-left: #{$mg}px;
  }
}
@each $mg in (100, 120, 140, 180) {
  .u-mg-t-#{$mg}-n {
    margin-top: -#{$mg}px;
  }
}
