.alert__wrapper {
  margin-bottom: 18px;
  background-color: #fafafa;
  border: 1px #eee solid;
  border-radius: 4px;
  padding: 20px;

  &.alert--success {
    background-color: lighten(#D7FFF1, 4);
    border-color: #c6e5d9;
  }

  &.alert--error {
    background-color: rgba(#eb2649, 0.15);
    border-color: #eb2649;
  }
}
