.button__group {
  @include clearfix();
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &.button--on-hover {
    transition: 250ms;
    opacity: 0.5;
  }
  &.button--on-hover:hover {
    opacity: 1;
  }

  .button--half {
    width: 49%;

    &:nth-child(2n) {
      margin-left: 0;
    }

    & + .button--half {
      margin-left: 2%;
    }
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  position: relative;

  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;

  background-color: $brand-color;
  border: 1px darken($brand-color, 15%) solid;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(black, 0.05);
  padding: 11px 20px;

  user-select: none;

  & + .button {
    margin-left: 10px;
  }
  &:visited {
    color: white;
  }
  &:hover {
    background: linear-gradient(to top, rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)),
                $brand-color;
  }

  &.button--small {
    padding: 9px 16px;
    font-size: 12px;
  }
  &.button--tiny {
    padding: 7px 16px;
    font-size: 11px;
  }

  &.button--block {
    display: block;
  }

  &.button--inverted {
    background-color: #fff;
    border: 1px #ddd solid;
    box-shadow: 0 1px 1px rgba(black, 0.05);
    color: $brand-color;
  }
  &.button--light {
    background-color: #fcfcfc;
    border: 1px #ddd solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #999;

    &:hover {
      background: #fcfcfc;
      border-color: #ccc;
      color: darken(#999, 25%);
    }
  }
  &.button--simple {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
    color: #999;

    &:hover {
      background: none;
      color: darken(#999, 25%);
    }

    .dropdown__menu::before, .dropdown__menu::after {
      right: 16px;
    }
  }

  span {
    pointer-events: none;
  }

  .button__icon {
    margin-right: 6px;
    vertical-align: middle;

    & + span {
      vertical-align: middle;
    }
  }
}
