.button__group {
  @include clearfix();
}

.button {
  display: inline-block;
  background-color: $brand-color;
  border-radius: 4px;
  padding: 11px 20px;
  color: white;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;

  cursor: pointer;

  & + .button {
    margin-left: 10px;
  }

  &:visited {
    color: white;
  }

  &:hover {
    background: linear-gradient(to top, rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)),
                $brand-color;
  }

  &.button--small {
    padding: 9px 16px;
    font-size: 12px;
  }

  &.button--inverted {
    background-color: white;
    color: $brand-color;
  }

  &.button--facebook {
    background-color: #3b5998;
  }
  &.button--twitter {
    background-color: #1b95e0;
  }

  .button__icon {
    margin-right: 6px;
    vertical-align: middle;

    & + span {
      vertical-align: middle;
    }
  }
}
