.httperror__404 {
  padding-top: 24px;
  text-align: center;

  .httperror__message {
    margin: 24px 0;
  }

  .eyes, .mouth {
    opacity: 0.5;
  }

  .eyes {
    transform: scale(1.2);

    &:first-child {
      margin-right: 48px;
    }
  }

  .mouth {
    transform: scaleX(2) scaleY(1.5);
  }
}
