@font-face {
  font-family: 'FaktPro';
  src: url('/static/fonts/FaktPro-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FaktPro';
  src: url('/static/fonts/FaktPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FaktPro';
  src: url('/static/fonts/FaktPro-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: url('/static/fonts/AdelleSans-Bold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: url('/static/fonts/AdelleSans-SemiBold.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: url('/static/fonts/AdelleSans-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
