@font-face {
  font-family: 'ClearSans';
  src: url('/static/fonts/ClearSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('/static/fonts/ClearSans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('/static/fonts/ClearSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/static/fonts/Butler_Black.otf') format('woff');
  font-weight: 700;
  font-style: normal;
}
