input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  margin-bottom: 12px;
  width: 100%;

  appearance: none;
  border: 1px #e5e5dc solid;
  border-radius: 4px;
  padding: 9px 14px;

  &.inline {
    display: inline-block;
  }

  &:focus {
    outline-style: none;
    border-color: $brand-color;
  }
}

button[type="submit"] {
  display: block;
  width: 100%;

  appearance: none;
  border: none;

  background-color: $brand-color;
  border-radius: 4px;
  padding: 10px 20px;

  color: white;

  &[disabled] {
    background-color: rgba($brand-color, 0.5);
  }
}

.form__wrapper {
  background-color: #fafafa;
  border: 1px #eee solid;
  border-radius: 4px;
  padding: 20px;
}

.form__element {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  &.form--empty input {
    background-color: rgba(#eb2649, 0.15);
    border-color: #eb2649;
  }
}

.form__error {
  color: #eb2649;
  font-size: 12px;

  span {
    display: block;
    margin: 6px;
  }
}

.button__spinner {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  height: 16px;
}
