input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  margin-bottom: 12px;
  width: 100%;

  appearance: none;
  border: 1px #e5e5dc solid;
  border-radius: 4px;
  padding: 9px 14px;

  &.inline {
    display: inline-block;
  }

  &:hover {
    border-color: #C5C6B6;
  }

  &:focus {
    outline-style: none;
    border-color: $brand-color;
  }
}

textarea {
  display: block;
  width: 100%;
  border: 1px #e5e5dc solid;
  border-radius: 4px;
  padding: 12px;

  &:hover {
    border-color: #C5C6B6;
  }

  &:focus {
    outline-style: none;
    border-color: $brand-color;
  }
}

button[type="submit"] {
  display: block;

  background-color: $brand-color;
  border-radius: 4px;
  padding: 10px 20px;

  appearance: none;
  border: none;


  color: white;

  &[disabled] {
    background-color: rgba($brand-color, 0.5);
  }

  &.button--block {
    width: 100%;
  }

  &:hover {
    background-color: darken($brand-color, 6);
  }
}

.form__wrapper {
  margin-bottom: 14px;
  background-color: #fafafa;
  border: 1px #eee solid;
  border-radius: 4px;
  padding: 20px;
}

.form__element {
  position: relative;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &.form--empty input {
    background-color: rgba(#eb2649, 0.15);
    border-color: #eb2649;
  }
}

.form__label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}

.form__note {
  margin-top: -4px;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgba(#111, 0.5);
}

.form__select {
  position: relative;
  display: block;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 18px;
    width: 18px;
    background: url('/static/img/icons/navigation/ic_arrow_drop_down_18px.svg') no-repeat;

    pointer-events: none;
    cursor: inherit;
    content: '';
  }

  select {
    display: block;
    width: 100%;
    appearance: none;
    border-color: #e5e5dc;
    border-radius: 4px;
    background: #fff;
    padding: 9px 14px;
    cursor: inherit;

    &:hover {
      border-color: #C5C6B6;
    }

    &:focus {
      outline-style: none;
      border-color: $brand-color;
    }
  }
}

.form__radio {
  margin-bottom: 8px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  input {
    position: relative;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px #e0e0e0 solid;
    border-radius: 50%;

    vertical-align: middle;
    appearance: none;
    cursor: inherit;

    &:checked, &:checked:hover {
      border-color: $brand-color;
    }
    &:checked:after {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 8px;
      height: 8px;
      background: $brand-color;
      border-radius: 50%;
      content: '';
    }

    &:hover {
      border-color: #C5C6B6;
    }
  }

  label {
    margin-left: 8px;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
    cursor: inherit;
  }
}

.form__attachments {
  overflow: hidden;

  .form__attachment {
    margin-right: 8px;
    float: left;
    height: 64px;
    min-width: 64px;
  }

  input {
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
  }

  input + label {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px #e5e5dc solid;
    border-radius: 4px;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('/static/img/icons/content/ic_add_48px.svg') no-repeat center;
      opacity: 0.05;
      content: '';
    }

    &:hover {
      border-color: #C5C6B6;
    }

    &:hover:after {
      opacity: 0.2;
    }
  }
}

.form__error {
  color: #eb2649;
  font-size: 12px;

  span {
    display: block;
    margin: -6px 6px 6px;
  }
}

.button__spinner {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  height: 16px;
}
