.list__group {
  margin-bottom: 14px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px #ddd solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
}

.list__pagination {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;

  .list__page {
    display: inline-block;
    height: 48px;
    width: 30px;

    line-height: 48px;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    &.list__page--current {
      color: #0080ff;
    }
  }
}

.list__filters {
  @include clearfix();
  padding: 14px 28px;
  border-bottom: 1px #eee solid;

  input {
    margin: 0;
    padding: 4px 0 4px 24px;
    font-size: 14px;
    border: none;
    box-shadow: none;
  }

  select {
    padding: 4px 0;
    font-size: 14px;
    border: none;
    box-shadow: none;
  }

  .form__select {
    margin: 0;

    &:after {
      top: 4px;
      right: 4px;
    }
  }

  .list__search {
    position: relative;
    width: 100%;
    max-width: 220px;

    &.list__search--full {
      max-width: none;
    }

    &:after {
      position: absolute;
      top: 4px;
      left: 0;

      background: url('/static/img/icons/action/ic_search_24px.svg') no-repeat;
      background-size: cover;
      height: 18px;
      width: 18px;
      opacity: 0.35;
      content: '';
    }

  }

  .list__options {
    // width: 100%;
    // max-width: 180px;
    display: inline-block;
  }
}

.list__empty {
  margin: 0 auto;
  max-width: 540px;
  padding: 28px;
  text-align: center;

  .list__empty-icon {
    opacity: 0.25;
  }
}

.list__results {
  border-bottom: 1px #eee solid;
  padding: 10px 28px;
}

.list__item {
  display: block;
  border-bottom: 1px #eee solid;
  text-decoration: none;

  transition: 200ms;
  background-color: #fff;

  @include media("<=tablet") {
    padding: 16px;
  }

  @include media(">tablet") {
    padding: 28px;
  }

  h4 {
    color: #1e2022;

    span {
      color: #0080ff;
    }
  }

  p {
    transition: 200ms;
    color: lighten(#1e2022, 50%);
  }


  &:hover {
    background-color: #fcfcfc;

    p {
      color: lighten(#1e2022, 20%);
    }
  }

  &:visited {
    h4 span {
      color: #1e2022;
    }
  }

  &:first-child {
    border-radius: 4px 4px 0 0;
  }

  &:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: none;
  }
}

.list__item-attachment {
  float: left;
  margin: 5px 0;

  @include media("<=tablet") {
    width: 49%;
    margin-right: 2%;
  }

  @include media(">tablet") {
    width: 32%;
    margin-right: 2%;
  }

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1e2022;

    &:hover {
      color: #0080ff;
    }
  }

  span {
    vertical-align: middle;
    font-size: 14px;
  }

  &:nth-child(2n) {
    @include media("<=tablet") {
      margin-right: 0%;
    }
  }
  &:nth-child(3n) {
    @include media(">tablet") {
      margin-right: 0%;
    }
  }

  &:nth-last-child(-n+2) {
    @include media("<=tablet") {
      margin-bottom: 0;
    }
  }
  &:nth-last-child(-n+3) {
    @include media(">tablet") {
      margin-bottom: 0;
    }
  }

  .list__item-attachment-preview {
    margin-bottom: 12px;
    height: 108px;
    width: 100%;

    border: 1px #eee solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.list__item-date {
  color: #999;
}

.list__item-remark {
  display: block;
  font-size: 12px;
  font-weight: 500;

  &.list__item--approved {
    color: #3ac569;
  }

  &.list__item--not-approved {
    color: #eb2649;
  }
}
