.stats {
  @include clearfix();
  padding: 0;
  margin: 0;

  // text-align: center;
}

.stat {
  margin: 0;
  float: left;
  width: 33.3%;
  list-style: none;
  line-height: 1;

  border-right: 1px #eee solid;
  border-bottom: 1px #eee solid;
  padding-bottom: 14px;

  &:nth-child(3n) {
    border-right: none;
  }
  &:not(:nth-child(3n+1)) {
    padding-left: 14px;
  }
  &:not(:nth-child(-n+3)) {
    padding-top: 14px;
  }
  &:nth-last-child(-n+3) {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }

  &.stat--small {
    .stat__header {
      font-size: 11px;
    }
    .stat__value {
      font-size: 20px;
    }
  }
}

.stat__value {
  font-size: 28px;
  font-weight: 600;
}

.stat__header {
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 500;
  color: #9aa0a5;

  line-height: 1.2;
  text-transform: uppercase;

  @include media("<=tablet") {
    height: 26px;
    word-wrap: normal;
  }
}
