.tabs__nav {
  @include clearfix();
  position: relative;
  z-index: 0;
}

.tab__nav {
  float: left;
  border-radius: 4px 4px 0 0;
  border: 1px transparent solid;
  border-bottom: none;
  cursor: pointer;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  transition: background-color 200ms, color 200ms;

  @include media("<=tablet") {
    width: 25%;
    padding: 11px 0;
    text-align: center;
  }
  @include media(">tablet") {
    padding: 11px 28px;
  }

  &.active {
    background-color: white;
    border-color: #ddd;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);

    p {
      color: #1e2022;
    }
  }
  &.active:hover {
    background-color: white;
  }

  &:hover p {
    color: #1e2022;
  }
}

.tabs__content {
  position: relative;
  z-index: 1;

  .list__group {
    border-radius: 0 4px 4px 4px;
  }
}
