@import "variables";
@import "fonts";

@import "alerts";
@import "buttons";
@import "dropdown";
@import "errors";
@import "forms";
@import "lists";
@import "modal";
@import "stats";
@import "tabs";

html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fbfbfb;
  // background-image: url('/static/img/cubes.png');
  // background-repeat: repeat;

  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  color: #1e2022;
}

h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
  color: #1e2022;

  font-weight: 600;
  line-height: 1.2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  &:last-child {
    margin: 0;
  }

  img {
    vertical-align: middle;
  }

  img + span {
    margin-left: 4px;
    vertical-align: middle;
  }

  .header--light {
    color: #9aa0a5;
    font-size: 0.75em;
  }
}

h1, h2, h3 {
  margin: 0 0 14px 0;
}
h4, h5, h6 {
  margin: 0 0 6px 0;
}

p {
  margin: 0 0 14px 0;
  word-wrap: break-word;
  line-height: 1.8;
  font-size: 16px;
  color: lighten(#1e2022, 20%);

  &:last-child {
    margin-bottom: 0;
  }

  &.small {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
  }
}

a {
  color: #0080ff;

  &:visited {
    color: #6a60a9;
  }
}

small {
  &.light {
    color: #9aa0a5;
  }
}

strong {
  font-weight: 600;
}

ul {
  margin: 14px 0;
  padding-left: 20px; // TODO: Better spacing

  li {
    margin-bottom: 10px;
  }
}

img {
  max-width: 100%;
}

hr {
  margin: 16px 0;
  height: 1px;
  background-color: #eee;
  border: none;
}

table {
  width: 100%;

  tr {
    border-bottom: 1px #eee solid;
    transition: 200ms;

    &.u-cur-p:hover {
      background-color: #fcfcfc;
    }
  }

  th {
    padding: 14px 28px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;

    transition: 200ms;

    span {
      margin-right: 8px;
      vertical-align: middle;
    }
    img {
      opacity: 0.6;
      vertical-align: middle;
    }

    &.u-cur-p:hover {
      color: #0080ff;
    }

    .sort-icon {
      display: inline-block;
      width: 20px;
    }
  }

  td {
    padding: 20px 28px;
    font-size: 14px;
  }

  tbody tr:last-child {
    border-bottom: none;
  }
}

// background-color: rgb(46, 204, 113);
// background-size: initial;
// box-shadow: rgb(230, 126, 34) -2px 2px, rgb(241, 196, 15) 2px -2px, rgba(46, 204, 113, 0.2) 1px -2px, rgba(46, 204, 113, 0.298039) 1px 3px;
