@import "variables";
@import "fonts";

@import "alerts";
@import "forms";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 14px 0;
  color: #1e2022;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  &:last-child {
    margin: 0;
  }
}

p {
  margin: 0 0 14px 0;
  line-height: 1.3;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  background-color: $brand-color;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to top, rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)),
                $brand-color;
  }

  &.button--inverted {
    background-color: white;
    color: $brand-color;
  }
}
