@import "variables";
@import "fonts";

@import "alerts";
@import "forms";
@import "lists";
@import "stats";
@import "tabs";

html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fbfbfb;
  // background-image: url('/static/img/cubes.png');
  // background-repeat: repeat;

  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  color: #1e2022;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 14px 0;
  word-wrap: break-word;
  color: #1e2022;
  font-weight: 600;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  &:last-child {
    margin: 0;
  }

  img {
    vertical-align: middle;
  }

  img + span {
    margin-left: 4px;
    vertical-align: middle;
  }

  .header--light {
    color: #9aa0a5;
    font-size: 0.85em;
  }
}

p {
  margin: 0 0 14px 0;
  word-wrap: break-word;
  line-height: 1.8;
  font-size: 15px;
  color: lighten(#1e2022, 20%);

  &:last-child {
    margin-bottom: 0;
  }

  &.small {
    font-size: 14px;
    line-height: 1.6;
  }
}

a {
  color: #0080ff;

  &:visited {
    color: #6a60a9;
  }
}

strong {
  font-weight: 600;
}

ul {
  margin: 14px 0;
  padding-left: 20px; // TODO: Better spacing

  li {
    margin-bottom: 10px;
  }
}

img {
  max-width: 100%;
}

hr {
  margin: 16px 0;
  height: 1px;
  background-color: #eee;
  border: none;
}

.button {
  display: inline-block;
  background-color: $brand-color;
  border-radius: 4px;
  padding: 11px 20px;
  color: white;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;

  cursor: pointer;

  & + .button {
    margin-left: 10px;
  }

  &:visited {
    color: white;
  }

  &:hover {
    background: linear-gradient(to top, rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)),
                $brand-color;
  }

  &.button--small {
    padding: 9px 16px;
    font-size: 12px;
  }

  &.button--inverted {
    background-color: white;
    color: $brand-color;
  }
}

.httperror__404 {
  padding-top: 24px;
  text-align: center;

  .httperror__message {
    margin-top: 24px;
  }

  .eyes, .mouth {
    opacity: 0.5;
  }

  .eyes {
    transform: scale(1.2);

    &:first-child {
      margin-right: 48px;
    }
  }

  .mouth {
    transform: scaleX(2) scaleY(1.5);
  }
}
