@import "variables";
@import "fonts";

@import "alerts";
@import "forms";
@import "cards";

html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 14px 0;
  color: #1e2022;
  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  &:last-child {
    margin: 0;
  }

  img {
    vertical-align: middle;
  }

  img + span {
    margin-left: 4px;
    vertical-align: middle;
  }
}

p {
  margin: 0 0 14px 0;
  line-height: 1.3;
  word-wrap: break-word;

  &:last-child {
    margin-bottom: 0;
  }

  &.small {
    font-size: 14px;
  }
}

ul {
  margin: 14px 0;
  padding-left: 20px; // TODO: Better spacing

  li {
    margin-bottom: 10px;
  }
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  background-color: $brand-color;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to top, rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)),
                $brand-color;
  }

  &.button--inverted {
    background-color: white;
    color: $brand-color;
  }
}

.httperror__404 {
  padding-top: 24px;
  text-align: center;

  .httperror__message {
    margin-top: 24px;
  }

  .eyes, .mouth {
    opacity: 0.5;
  }

  .eyes {
    transform: scale(1.2);

    &:first-child {
      margin-right: 48px;
    }
  }

  .mouth {
    transform: scaleX(2) scaleY(1.5);
  }
}
